.navbar {
  background: var(--background-100);
  padding: 10px;
  padding-inline: var(--content-side-gap);
  min-height: 60px;

  display: flex;
  align-items: stretch;

  .navbar--links {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 50px;

    a {
      text-decoration: none;
      color: inherit;

      &[data-active="true"] {
        text-decoration: underline;
      }
    }
  }

  .navbar--carrinho {
    background: var(--background-200);
    padding-inline: 0.5em;

    display: flex;
    align-items: center;

    position: relative;

    a {
      text-decoration: none;
      color: inherit;

      display: flex;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
      }
    }
  }
}
