.carrinho {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.carrinho__listagem__produtos {
  width: 700px;
}

.produtos-carrinho {
  display: flex;
  width: 100%;
  background-color: #F5F6F5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.produtos-carrinho__img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  background: #ddd;
  margin-right: 10px;
}

.produtos-carrinho__conteudo {
  flex: 1;
}

.produtos-carrinho__remover {
  flex-direction: column;
}

.carrinho__checkout {
  margin-top: 56px;
  width: 400px;
  height: 350px;
  background-color: #F5F6F5;
}

.carrinho__btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}