.form {
  display: flex;
  flex-direction: column;
}

.form__input {
  display: flex;
  gap: 1.3rem;
  margin-bottom: 1rem;

  input {
    height: 2.1rem;
  }
}

.input__parcela {
  width: 7rem;
  height: 2.1rem;
}

.input__cartao {
  width: 25rem;
}

.input__cvv {
  width: 4rem;
}

.input__nome {
  width: 25rem;
}

.input__endereco {
  width: 25rem;
}

.form__buttons {
  display: flex;
  gap: 1rem;
}
