@import url("./theme.css");

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: "Inter", Arial, sans-serif;
  color: var(--text);
}

:root {
  --content-side-gap: calc(50px + max(0px, (100vw - (1440px + 100px)) / 2));

  @media (width < 500px) {
    --content-side-gap: 10px;
  }

  --gap-10: 27px;
  --gap-5: calc(var(--gap-10) * 0.5);
  --gap-4: calc(var(--gap-10) * 0.4);
  --gap-3: calc(var(--gap-10) * 0.3);
  --gap-2: calc(var(--gap-10) * 0.2);
  --gap-1: calc(var(--gap-10) * 0.1);

  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg:
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* Classes utilitarias */

.flex-1 {
  flex: 1;
}
