@import url("./theme.css");

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: "Inter", Arial, sans-serif;
  color: var(--text);
}

/* Classes utilitarias */

.flex-1 {
  flex: 1;
}
